

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/*font-family: 'Raleway', sans-serif;*/ /*universal font for the body*/
	/*font-family: 'Jacques Francois Shadow', cursive;*/
	/*font-family: 'Montserrat', sans-serif;*/
}

html {
	scroll-behavior: smooth;
}
/*landing page*/

.container {
	font-family: 'Jacques Francois Shadow', cursive;

}

#cine {
	margin-bottom: -20px;
	margin-top: -110px;
} 

.jumbotron hr {
	background-color: #fff; /
	width: 5px;
}

.btn a {
	text-decoration: none;
	/*color: #fff; *//*color is font color*/
	color: black;
	font-family: 'Cookie', cursive;
	font-size: 30px;
}

.tohome {
	margin-top: -10px;
   /* background-color: yellow;*/ /*orig*/
    background-color: yellow;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: transparent;
    font-family: 'Jacques Francois Shadow', cursive;
}

#head2 {
	color: yellow;
	/*font-family: 'Montserrat', sans-serif;*/
	/*font-family: 'Cookie', cursive;*/
	font-family: 'Jacques Francois Shadow', cursive;
	font-size: 60px;
	margin-top: -10px;
} 

#jumbo-land {
	height: 100vh; /*vh is the whole screen view*/ /*for mobile and table it should be 100% instead of 100vh*/
	padding-top: 20%;
	background-color: #333; /*off white*/
	border-radius: 0; /*remove jumbo's rounded corner*/
	/*background-image: url(../images/capsonebg2.jpg);*/
	background-image: url(../images/darthbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}

/*.jumbotron h1 {
	color: yellow;
	margin-top: -200px;
	letter-spacing: 4px;
}	*/

#cine {
	color: yellow;
	margin-top: -100px;
	letter-spacing: 4px;
}

/*.lead {
	color: black;
}*/

/*end of landing page*/

/*home page*/

#home-landing {
	background-color: #333; /*black*/
	color: #fff; /*white*/
	padding: 30%;
}

#gotohome > a {
 	text-decoration: none;
 	color: yellow;
}


#carousel-home {
	height: 100vh;
}

#carousel-home img { /*to target all the images within the carousel*/
	height: 100vh;
	max-height: 100vh;
}

#imgcar1 {
	margin-top: 20px;
}

#imgcar2 {
	margin-top: 20px;
}

#imgcar2 {
	margin-top: 20px;
}

#tohome {
	border-style: 2px solid black;
	border-radius: 20px;
	background-color: yellow;

}
/*end of home page*/

#forceawakens:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#avatarmovie:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#panther:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#infinitywar:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#titanic:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#panther:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#jurassic:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#avengers:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#jedi:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#incredibles:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#darkknight:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*start of box office page*/

#gitna {
	background-color: white;
	height: 100vh;
	background-image: url(../images/testbg.jpg);
	background-repeat: none;
	background-attachment: fixed;
	background-size: cover;
}




/*end of box office page*/

/*start of contact page*/

#missionimg {
	height: 100vh;
	background-image: url(../images/darthbg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
*/

#visionborder {
	border: 3px solid black;
}

iframe {
	width: 100%;
	height: 100%;
}

#cform {
	background-color: black;
    color: white;
    /*font-family: 'Jacques Francois Shadow', cursive;*/
    border-style: 10px solid black;
    border-radius: 10px;
    padding: 15px;
}

#getintouch {
	font-family: 'Jacques Francois Shadow', cursive;
	color: green;
}

#visituscontact {
	font-family: 'Jacques Francois Shadow', cursive;
	color: green;
}


#cui {
	width: 650px;
	height: 455px;
	margin-top: -10px;
}


/*end of contact page*/

/*start of about us page*/

#jumbotron-about {
	background-color: white; /*#141414*/
	height: 100vh;
	border-radius: 0;
	padding: 0;
	color: green;
}

#moreaboutus > a {
	text-decoration: none;
	color: green;
	font-family: 'Jacques Francois Shadow', cursive;
}

#landing-about {
	color: green; /*#f2f2f2;*/
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	font-family: 'Jacques Francois Shadow', cursive;
	letter-spacing: 8px;
}

.about-tags {
	font-weight: bold;
	font-family: 'Jacques Francois Shadow', cursive;
}

#mission {
	height: 100%;
	/*background-color: #141414;*/ /*off black*/
	background-color: white;
	color: black; /*#f2f2f2;*/ /*off white**/
	margin-top: 110px;
	margin: 0 auto;
}

#ourmission {
	font-family: 'Jacques Francois Shadow', cursive;
	margin-top: 60px;
}

#vision {
	height: 100%;
	/*background-color: #f2f2f2;*/ /*off white**/ 
	background-color: black;
	/*color: #141414;*/ /*off black*/
	color: white;
}


/*end of about us page*/

/*start of test*/
/*#rev {
	border: 3px double white;
	display: block;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#spot {
	border: 3px solid red;
	display: block;
	border-radius: 10px;
}

#dom {
	border: 3px solid red;
	display: block;
	border-radius: 10px;
}

#world {
	border: 3px solid red;
	display: block;
	border-radius: 10px;
}
*/

#movrev {
	height: 100%;
	color: black;
	/*background-color: yellow;*/
	background-color: darkblue;
}


#dbo {
	height: 100%;
	color: black;
	/*background-color: yellow;*/
	background-color: black;
}
/*
#wbo {
	height: 100vh;
	color: black;
	background-color: yellow;
	background-color: black;
}*/

#wwbox {
	height: 100%;
	color: black;
	/*background-color: yellow;*/
	background-color: blue;
}


#barside > li > a {
	border: 3px solid blue;
	display: block;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	text-align: center;
	height: 50px;
	padding-top: 5%;

}

#navbar {
	background-color: darkblue;
}

#rev {
	margin-top: 20px;
	margin-bottom: 10px;
	letter-spacing: 7px;
	border-radius: 10px;

}

#spot {
	margin-bottom: 10px;
	letter-spacing: 5px;
	border-radius: 10px;
}

#dom {
	margin-bottom: 10px;
	letter-spacing: 2px;
	border-radius: 10px;
}

#world {
	margin-bottom: 10px;
	letter-spacing: 1px;
	border-radius: 10px;
}

#soon {
	margin-bottom: 10px;
	letter-spacing: 7px;
	border-radius: 10px;
}

ul > li:hover {
	background-color: yellow;
	border-radius: 10px;
	color: black;
}


ul > li:hover > a {
	color: blue;
	/*background-color: indianred;*/
	background-color: green;
}

ul > li > a:hover {
  background-position: 100% 100%;
}

#domhead {
	padding-top: 60px;
	color: white;
	font-family: 'Jacques Francois Shadow', cursive;
}

#worldhead {
	padding-top: 60px;
	color: black;
	font-family: 'Jacques Francois Shadow', cursive;
}

#revhead {
 	padding-top: 60px;
	color: white;
	font-family: 'Jacques Francois Shadow', cursive;
}

#revimg {
	padding-top: 105px;
	width: 1100px;
	height: 600px;
	padding-right: 20px;
}

#boxlist > a {
	margin-bottom: 4px;
	padding: 10px;
	border-radius: 10px;
}

#wwboxlist > a {
	margin-bottom: 4px;
	padding: 10px;
	border-radius: 10px;
}

#revbox > a {
	margin-bottom: 4px;
	padding: 10px;
	border-radius: 10px;
}

#revbox > a:hover {
	background-color: green;
}

#reviewbutton:hover {
	background-color: green;
	color: black;
}

#dombutton:hover {
	background-color: green;
	color: black;
}

#worldbutton:hover {
	background-color: green;
	color: black;
}

#spolist > a {
	margin-bottom: 4px;
	padding: 10px;
	border-radius: 10px;
}

#spolist > a:hover {
	background-color: blue;
	color: white;
}

#boxlist > a:hover {
	background-color: blue;
	color: white;
}

#wwboxlist > a:hover {
	background-color: black;
	color: white;
}

#revbox > a:hover {
	background-color: black;
	color: white;
}


#movrevaccord > btn {
	margin-bottom: 4px;
	padding: 10px;
	border-radius: 10px;
}

#movrevaccord {
	background-color: black;
	color: white;
}

#movworldaccord {
	background-color: black;
	color: white;
}

#reviewbutton {
	margin-bottom: 4px;
	padding: 10px;
	border-radius: 10px;
	background-color: blue;
	color: white;
	text-decoration: none;
	display: block;
	background-image: none;
}

#dombutton {
	margin-bottom: 4px;
	padding: 10px;
	border-radius: 10px;
	background-color: blue;
	color: white;
	text-decoration: none;
	display: block;
	background-image: none;
}

#worldbutton {
	margin-bottom: 4px;
	padding: 10px;
	border-radius: 10px;
	background-color: blue;
	color: white;
	text-decoration: none;
	display: block;
	background-image: none;
}

.card-body {
	background-color: green;
}

#averating {
	margin-bottom: -10px;
}

/*end of test*/

/*start of gallery*/

#headgall {
	margin-top: 8%;
	background-color: #141414; /*off black*/
	color: #f2f2f2; /*off white*/
	text-transform: uppercase; /*uppercase the text*/
	letter-spacing: 0.5em;
}

#listko {
	width: 16.99%;
}

img[alt="eto"] {
	width: 100%;
	height: 200px;
}

/*end of gallery*/


/*start of mygallery*/

/*#conpage1 {
	background-color: blue;
}*/

#visitus {
	font-family: 'Jacques Francois Shadow', cursive;
	color: green;
}

#shake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#imgpreview {
	width: 100%;
	height: 100%;
}

#gallerypage2 {
	display: block;
	text-decoration: none;
	color: green;
	font-weight: bold;
	font-family: 'Jacques Francois Shadow', cursive;
	margin-bottom: 100px;
	margin-top: 90px;
}

#gallery2head {
	margin-top: 50px;
	font-family: 'Jacques Francois Shadow', cursive;
	color: green;
}

#navbar {
	font-family: 'Jacques Francois Shadow', cursive;
	color: black;
}

footer {
	color: white;
}
/*#gallpage2 {
	position: fixed;
}*/
/*end of mygallery*/


@media only screen and (max-width: 400px) {
	#jumbo-land {
	height: 100%; /*vh is the whole screen view*/ /*for mobile and table it should be 100% instead of 100vh*/

}

@media only screen and (min-height: 401px) and (max-height: 960px)  {
	#jumbo-land {
	height: 100%; /*vh is the whole screen view*/ /*for mobile and table it should be 100% instead of 100vh*/
	
}

